[Unit]
Description=Console Server
After=network.target

[Service]
Type=simple
Environment=LISTEN_IPADDR=0.0.0.0 LISTEN_PORT=782
EnvironmentFile=-/etc/sysconfig/conserver
ExecStartPre=/usr/sbin/conserver -S
ExecStart=/usr/sbin/conserver -M${LISTEN_IPADDR} -p${LISTEN_PORT} $CMDLINE_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
