[Unit]
Description=Console Server
After=network.target

[Service]
Environment=LISTEN_IPADDR=127.0.0.1 LISTEN_PORT=782
EnvironmentFile=-/etc/sysconfig/conserver
ExecStart=/usr/sbin/conserver -M${LISTEN_IPADDR} -p${LISTEN_PORT} $CMDLINE_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
